@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: #FEFCFE;
}
.Aboutcontainer {
  height: 100%;
  margin-top: 10px;
}
.About-title-font {
  font-family: "Big Shoulders Stencil Text", cursive;
  font-size: 24px;
  margin: 20px auto;
}
.About-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 50px;
}

.About-lit-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 800;
}
.About-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.skills-set {
  display: flex;
  flex-direction: row;
  height: 500px;
}
.Introduction-div{
  width: 100%;
}
.Introduction, .skills-container, .main-heading{
  padding: 0 35px;
}

.language-stack {
  width: 33.3%;
}
.tech-stack {
  width: 33.3%;
}
.framework-stack {
  width: 33.3%;
}
.skills-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.skills-container ul li {
  margin: auto 7px;
}
.skill-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1.2px;
}
.icon-m {
  margin: 10px;
}
.svgContainer {
  display: flex;
  justify-content: flex-end;
  margin-left: 100px;
}

@media (max-width: 1240px) {
  .About-container {
    flex-direction: column-reverse;
  }
 #AboutImg{
   height: 400px;
   width: 400px;
    position: relative;
    left: -50px;
  }
 .About-lit-intro {
   font-size: 14px;
   letter-spacing: 0.11px;
 }

 .About-title-font{
   font-size: 25px;
   margin: 20px auto;
 }
 
 .skills-set{
   flex-direction: column;
   margin: 10px auto;
 }
 .skills-container ul {
  flex-direction: row;
  margin: 20px auto;
  padding-left: 10px;
}
.skills-container ul li {
  margin: auto 10px;
}
.skill-subtitle{
  font-size: 12px;
  font-weight: 300;
  line-height: 28px;
}
.aboutIcon{
   height: 30px;
   width: 30px;
  }
  .Introduction{
    text-align: justify;
    font-family: monospace;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
  }

}