@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}
.Aboutcontainer {
  height: 70%;
  margin-top: 10px;
}
.About-title-font {
  font-family: "Big Shoulders Stencil Text", cursive;
}
.About-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 50px;
}

.About-lit-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 800;
}
.About-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.skills-set {
  display: flex;
  flex-direction: row;
  height: 500px;
}
.language-stack {
  width: 33.3%;
}
.tech-stack {
  width: 33.3%;
}
.framework-stack {
  width: 33.3%;
}
.skills-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.skills-container ul li {
  margin: auto 7px;
}
.skill-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1.2px;
}
.icon-m {
  margin: 10px;
}
.svgContainer {
  display: flex;
  justify-content: flex-end;
  margin-left: 100px;
}

@media (max-width: 1240px) {
  .About-container {
    flex-direction: column-reverse;
  }
 #AboutImg{
   height: 400px;
   width: 400px;
    position: relative;
    left: -50px;
  }
 .About-lit-intro {
   font-size: 14px;
   letter-spacing: 0.11px;
 }
 .Introduction-div{
   margin-left: 280px;
   margin-right: 0px;
 }
 .About-title-font{
   font-size: 25px;
 }
 .skills-container{
   /* margin-top: 20px; */
 }
 .skills-set{
   flex-direction: column;
 }
 .skills-container ul {
  flex-direction: row;
}
.skills-container ul li {
  margin: auto 10px;
}
}